@model IEnumerable<QFSLINKS.Models.DTO_menubyuser>
@*//Placeholder for the User Details information that will be populated on a Javascript function*@
<div class="modal fade" tabindex="-1" role="dialog" id="NewUserLink" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">My Title</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xl-6 col-xs-6">
                        <div class="panel-body">
                            <fieldset id="modalOption1" disabled>

                                <div class="form-group">
                                    @Html.Hidden("CurrentUser")                                                        
                                    @Html.Label("New Option", new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-home "></i></span>
                                        <select id="NewLink" class = "form-control"> </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Description", new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        @Html.TextBox("Description", null, new { id = "Description", @class = "form-control" })
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="savebutton" onClick="SaveUserLink()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->       
