@{
    ViewBag.Title = "Links Administration ";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Menu</h3>
<ol class="round">
    <li class="one">
        <h5>Users</h5><BR>
    </li>

    <li class="two">
        <h5>Links</h5><BR>
    </li>

</ol>
